grafana.{$DOMAIN} {
  reverse_proxy localhost:3000
  basicauth admin {$CADDY_AUTH_HASH}
}

prometheus.{$DOMAIN} {
  reverse_proxy localhost:9090
  basicauth admin {$CADDY_AUTH_HASH}
}

loki.{$DOMAIN} {
  reverse_proxy localhost:3100
  basicauth admin {$CADDY_AUTH_HASH}
}